---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Mediatek formation</h2>
		<p>Cet atelier profesionnel est une évolution d’un site web (Symfony) avec qualité de code, accès
            avec authentification (Keycloak), tests unitaire et fonctionnels, mise en ligne du site, de la BDD et du serveur
            Keycloak : mise à disposition des formations de la médiathèque
            Mediatek86 (code source, BDD, tests unitaires et fonctionnels,
            documentation technique, documentation utilisateur). Voir le projet <a href="/work/mediatek">ici</a>.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Mediatek Documents</h2>
		<p>Cet atelier professionnel est une évolution d'une application de bureau en C# avec qualité de code, accès avec authentification, logs, mise en ligne de la BDD, création d'un installeur : gestion des documents de la médiatèque mediatek86 (code source, BDD, fichiers de logs, documentation technique, documentation utilisateur, compte rendu). Voir le projet <a href="/work/mediatekdocuments">ici</a>.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Portfolio</h2>
		<p>Réalisation d'un support type Portfolio permettant de recenser mon identité professionnelle ainsi qu'une veille informationnelle.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>

